html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* background-color: #f8fafc; */
}

a.active {
    font-weight: bold;
}

li:has(>a.active) {
    border-left: solid 4px oklch(70.7% 0.165 254.624);
    background-color: #dbeafe;
}
li:hover>button>span {
    font-weight: bold;
}

li:has(>a.active):hover {
    background-color: oklch(88.2% 0.059 254.128);
}

.submenu-wrapper {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.submenu-wrapper-open {
    max-height: 24rem;
    opacity: 1;
}